body {
      background-color: #ccf2f4;

}
h1 {
  color:#66BFBF;
}
h3{
  color:#66BFBF;
}
    hr {

      border-style: none;
      border-top-style: dotted;
      border-width:15px;
      border-color: #f4f9f9;
      width: 5%;
}

   img {
     height:2%;

    }
